{% extends "base.html" %}
{% block title %}Task Add{% endblock %}
{% load staticfiles %}

      {% block body %}
      <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-6 full-width margin-top-20percent" >
              <div class="panel panel-default full-width">

                <div class="panel-heading">
                  Edit Help
                </div>

                <div class="panel-body full-width full-height">
				  <form method="post" action="">
					{% csrf_token %}
					{{ form.as_table }}
					<input type="submit" value="送信">
				  </form>
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
            $('#task-add-table').DataTable({
                responsive: true,
                // sort機能の無効化
                ordering: true,
                // ページの表示件数を変更する
                displayLength: 20,
            });
        });
      </script>
      {% endblock %}
